@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;500;700 & family= Roboto:wght@100;300;400;500;700 & mostrar=cambiar');
@import url('https://fonts.googleapis.com/css2? family= Fjalla+One & family= Poppins:wght@300;400;500;700 & display=swap');

/*font-family: 'Fjalla One', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif; 
}
.Inicio{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid rgb(217, 210, 210);
    box-shadow: 1px 1px 5px 0.5px rgba(20,20,20,0.4);
    height: 80px;
}
.Inicio .logo{
    padding: 10px;
    margin-right: 150px ;
}

.Inicio .logotipo{
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: blueviolet;
}
.Inicio .Menu_nav{
    margin-top: 5px;
    padding: 25px;
}
.Inicio .Menu_nav a{
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.Inicio .Menu_nav a:hover{
   
    border-bottom: 1px solid black;
}
#hero{
    
    height: 80vh;
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 225px;
    
}
.img-hero{
        margin-left: 50px;

}
.img{
    width: 100%;
    height: 100%;

}
.conta-pa{
    margin-right: 50px;
    width: 400px;
    height: 200px;
    box-shadow: 1px 1px 5px 0.5px rgba(20,20,20,0.4);
    border-radius: 10px;

   
}
.conta-pa .Parrafo{
    margin-top: 10px;
    padding: 25px;
    text-align: center;
    font-weight: 500;
}
.conta-pa span{
    font-weight: bold;
    font-size: 40px;
    color: black;
}
#cursos{
    height: 40vh;
    width: 100%;
    max-width: 1024px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.cursos-div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 25px;
    justify-content: center;
    margin-left: 150px;

}
#cursos h2{
    font-size: 40px;
    color:black;
    margin-bottom: 10px;
}
.container{
    border: solid 1px black;
    width: 120px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
}
.container:hover{
    box-shadow: 1px 1px 5px 0.5px rgba(20,20,20,0.4);

}
.container p{
    text-align: center;
    padding-top: 15px
}
#becas{
    height: 60vh;
    max-width: 1024px;
    display: flex;
    margin-left: 200px;
}
#becas .img-info{
    margin-left: 30px;
}
#becas .info-mas{
    text-align: center;
    margin-top: 115px;
}
#becas p{
    font-size: 20px;
    font-weight: bold;
}
#becas .img-info img{
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0.5px rgba(20,20,20,0.4);
}
#becas a{
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    display: inline-block;
    margin-top: 5px;
    border-radius: 10px;
}
#becas a:hover{
    background-color: #fff;
    color: blueviolet;
    border: solid 1px black;
}
.pie{
    height: 25vh;
    display: flex;
    justify-content: space-between;
    background-color: #1c1d1f;
}
.pie .logotipo{
    margin-top: 115px;
    margin-left: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.pie .text{
    margin-top: 115px;
    margin-right: 10px;
    color: #fff;

}




